/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
html {
  min-height: 100%; }

body {
  color: #888ea8;
  height: 100%;
  font-size: 0.875rem;
  background: #030346;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.0312rem;
  font-family: 'Quicksand', sans-serif;
  max-width: 1600px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #ebedf2; }

:focus {
  outline: none; }

::-moz-selection {
  /* Code for Firefox */
  color: #1b55e2;
  background: transparent; }

::selection {
  color: #1b55e2;
  background: transparent; }

p {
  margin-top: 0;
  margin-bottom: 0.625rem;
  color: #ebedf2; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #191e3a; }

strong {
  font-weight: 600; }

code {
  color: #e7515a; }



.main-container {
  min-height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#container.fixed-header {
  margin-top: 56px; }

#content {
  margin-top: 0;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: auto;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

.main-container-fluid > .main-content > .container {
  float: left;
  width: 100%; }

#content > .wrapper {
  -webkit-transition: margin ease-in-out .1s;
  -moz-transition: margin ease-in-out .1s;
  -o-transition: margin ease-in-out .1s;
  transition: margin ease-in-out .1s;
  position: relative; }

.widget {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06); }

.layout-top-spacing {
  margin-top: 20px; }

.layout-spacing {
  padding-bottom: 40px; }

.layout-px-spacing {
  padding: 0 20px 0 20px !important;
  min-height: calc(100vh - 187px) !important; }

.widget.box .widget-header {
  background: #0e1726;
  padding: 0px 8px 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; }

.row [class*="col-"] .widget .widget-header h4 {
  color: #ebedf2;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 16px 15px; }

.seperator-header {
  background: transparent;
  box-shadow: none;
  margin-bottom: 40px;
  border-radius: 0; }
  .seperator-header h4 {
    color: #888ea8;
    margin-bottom: 0;
    display: inline-block;
    border: 2px dashed #888ea8;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1px; }

.widget .widget-header {
  border-bottom: 0px solid #f1f2f3; }
  .widget .widget-header:before {
    display: table;
    content: "";
    line-height: 0; }
  .widget .widget-header:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both; }

.widget-content-area {
  padding: 20px;
  position: relative;
  background-color: #10102d;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.dropdown-item {
  line-height: 1.8;
  padding: 0.625rem 1rem; }

.dropdown-menu {
  border-radius: 6px;
  border-color: #e0e6ed; }

.layout-px-spacing {
  padding: 0 32px !important; }

/* 
=====================
    Navigation Bar
=====================
*/
.header-container {
  background: transparent; }




/*Message Dropdown*/
/*Notification Dropdown*/
.search-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  z-index: 814 !important;
  opacity: 0;
  transition: all 0.5s ease-in-out; }
  .search-overlay.show {
    display: block;
    opacity: .1; 
      }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    margin-top: 10px; }
  100% {
    margin-top: 0; } }

@keyframes fadeInUp {
  0% {
    margin-top: 10px; }
  100% {
    margin-top: 0; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*
    Breadcrumb
*/
.layout-top-spacing {
  margin-top: 20px; }

.page-title {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  padding-right: 15px;
  margin-right: 15px; }
  .page-title h3 {
    margin-bottom: 0;
    margin: 0;
    font-size: 26px;
    color: #bfc9d4;
    font-weight: 500;
    letter-spacing: 0; }

.page-header {
  display: flex;
  padding: 15px 0 0 0;
  justify-content: space-between; }
  .page-header .custom-dropdown-icon a.dropdown-toggle {
    position: relative;
    padding: 9px 35px 10px 15px;
    border: 1px solid #0e1726;
    border-radius: 8px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #060818;
    letter-spacing: normal;
    min-width: 115px;
    text-align: inherit;
    color: #ebedf2;
    box-shadow: none;
    font-weight: 600;
    letter-spacing: 0px; }
    .page-header .custom-dropdown-icon a.dropdown-toggle span span {
      color: #888ea8; }
    .page-header .custom-dropdown-icon a.dropdown-toggle svg {
      position: absolute;
      right: 15px;
      top: 11px;
      color: #888ea8;
      width: 13px;
      height: 13px;
      margin: 0;
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
  .page-header .custom-dropdown-icon.show a.dropdown-toggle svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .page-header .custom-dropdown-icon .dropdown-menu {
    position: absolute;
    top: 1px !important;
    padding: 8px 0;
    border: none;
    min-width: 155px;
    border: 1px solid #191e3a;
    background: #191e3a; }
    .page-header .custom-dropdown-icon .dropdown-menu a {
      padding: 8px 15px;
      font-size: 13px;
      font-weight: 600;
      color: #888ea8; }
      .page-header .custom-dropdown-icon .dropdown-menu a:hover {
        background-color: transparent;
        color: #bfc9d4; }

/*
    ====================
        More Dropdown
    ====================    
*/
/*
    Footer
*/
.footer-wrapper {
  padding: 10px 30px 10px 30px;
  display: inline-block;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  border-top-left-radius: 6px;
  display: flex;
  justify-content: space-between; }
  .footer-wrapper .footer-section p {
    margin-bottom: 0;
    color: #888ea8;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #888ea8;
    font-size: 13px;
    letter-spacing: 1px; }
    .footer-wrapper .footer-section p a {
      color: #888ea8; }
  .footer-wrapper .footer-section svg {
    color: #e7515a;
    fill: rgba(231, 81, 90, 0.419608);
    width: 15px;
    height: 15px;
    vertical-align: text-top; }


  .topbar-nav.header {
    padding: 0;
    z-index: 500;
    width: 100%;
    top: 0;
    margin: 0; }
    .topbar-nav.header #topbar {
      margin: 0 32px;
      width: 100%;
      border-radius: 8px;
      background: #191e3a;
      min-height: 51px; }
    .topbar-nav.header nav#topbar ul.menu-categories {
      display: flex;
      margin-bottom: 0; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu {
        position: relative;
        padding: 14px 0 14px 0; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu:first-child {
          padding: 14px 0 14px 0; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu > a {
          display: flex;
          padding: 0 30px 0 30px;
          height: 100%; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu > a > div {
            align-self: center; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu:not(:last-child) > a {
          border-right: 1px solid #515365; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu a > div svg:not(.feather-chevron-down) {
          width: 25px;
          height: 25px;
          color: #e0e6ed;
          vertical-align: bottom;
          margin-right: 6px;
          stroke-width: 1.3px; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu a > div span {
          font-size: 13px;
          font-weight: 400;
          color: #fafafa;
          vertical-align: text-bottom; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu > .dropdown-toggle svg.feather-chevron-down {
          display: none; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu.active > a > div svg:not(.feather-chevron-down) {
          color: #25d5e4;
          fill: rgba(37, 213, 228, 0.29); }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu.active > a > div svg.feather.feather-chevron-down {
          color: #e0e6ed; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu.active > a > div span {
          color: #25d5e4;
          font-weight: 600; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu:hover .submenu {
          visibility: visible;
          opacity: 1;
          transform: translateY(0%);
          transition-delay: 0s, 0s, 0.3s; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu {
          position: absolute;
          top: 47px;
          left: 30px;
          background-color: #060818;
          color: #0e1726;
          text-align: left;
          margin-right: auto;
          margin-left: auto;
          width: 200px;
          padding: 15px 0;
          border-radius: 4px;
          border: 1px solid #0d1029;
          /*box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);*/
          -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          display: inline-block;
          visibility: hidden;
          opacity: 0;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-2em);
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li {
            display: block;
            padding: 0;
            position: relative;
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out; }
            .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a {
              display: flex;
              justify-content: space-between;
              white-space: nowrap;
              align-items: center;
              transition: all 0.2s ease-in-out;
              padding: 4px 24px;
              font-size: 13px;
              font-weight: 600;
              color: #888ea8;
              letter-spacing: 0px;
              line-height: 24px; }
            .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.active a {
              color: #25d5e4;
              font-weight: 600; }
            .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li:hover a {
              background: #f1f2f3;
              background-color: transparent;
              color: #bfc9d4;
              border-radius: 0 !important; }
            .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li ul.sub-submenu li.sub-sub-submenu-list {
              position: relative; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu .sub-sub-submenu-list .sub-submenu {
            position: absolute;
            top: 0;
            background-color: #060818;
            color: #888ea8;
            text-align: left;
            /*box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);*/
            border: 1px solid #0d1029;
            left: auto;
            right: -200px;
            min-width: 160px;
            width: 200px;
            padding: 12px 0;
            border-radius: 6px;
            -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu .sub-sub-submenu-list:hover ul.sub-submenu {
            display: block; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list .sub-submenu li a {
            background: transparent;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            padding: 4px 24px;
            color: #888ea8;
            white-space: nowrap;
            font-size: 14.5px;
            align-items: center;
            transition: all 0.2s ease-in-out;
            line-height: 27px;
            letter-spacing: 0;
            padding: 4px 24px;
            font-size: 13px;
            font-weight: 600;
            color: #888ea8;
            letter-spacing: 0px;
            line-height: 24px; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list .sub-submenu li.active a {
            color: #25d5e4; }
          .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list .sub-submenu li:hover a {
            transition: .200s;
            background: #f1f2f3;
            background-color: transparent;
            color: #bfc9d4;
            border-radius: 0 !important; }
    .topbar-nav.header.fixed-top {
      top: 0 !important;
      z-index: 1030;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: #0e1726; }
      .topbar-nav.header.fixed-top nav#topbar ul.menu-categories li.menu a > div svg:not(.feather-chevron-down), .topbar-nav.header.fixed-top nav#topbar ul.menu-categories li.menu a > div span, .topbar-nav.header.fixed-top nav#topbar ul.menu-categories li.menu a > div svg.feather.feather-chevron-down {
        color: #fff; }
  .nav-fixed .main-content {
    margin-top: 63px !important;
    transition: none !important; } }

@media (max-width: 1199px) {
  .topbar-nav.header nav#topbar ul.menu-categories li.menu > a {
    padding: 0 17px 0 17px; } }

@media (max-width: 991px) {
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #3b3f5c !important;
    z-index: 998 !important;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .overlay.show {
      display: block;
      opacity: .7; }
  .layout-px-spacing {
    padding: 0 16px !important; }
  .header-container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background: #191e3a; }
  .main-content {
    padding-top: 65px; }

    
  .topbar-nav.header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -315px;
    z-index: 9999;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    width: 255px;
    background-color: #060818;
    padding: 0;
    display: block;
    height: 100vh !important;
    transition: .600s;
    margin: 0; }
  .main-container.topbar-closed .topbar-nav {
    width: 255px;
    left: 0; }
  /*
      =============
          Top Bar
      =============
  */
  #topbar .theme-brand {
    background-color: #191e3a;
    padding: 11px 0 11px 0;
    justify-content: center; }
    #topbar .theme-brand li.theme-logo {
      align-self: center; }
      #topbar .theme-brand li.theme-logo img {
        width: 40px;
        height: 40px; }
    #topbar .theme-brand li.theme-text a {
      font-size: 25px !important;
      color: #fafafa !important;
      line-height: 2.75rem;
      padding: 0 0.8rem;
      text-transform: initial;
      position: unset;
      font-weight: 600; }
  #topbar ul.menu-categories {
    position: relative;
    padding: 20px 0 20px 0;
    margin: auto;
    width: 100%;
    overflow: auto; }
  .topbar-nav.header nav#topbar {
    height: 100vh !important; }
    .topbar-nav.header nav#topbar ul.menu-categories li.menu {
      position: relative;
      padding: 0;
      margin: 0px 15px 3px 15px; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu.active > .dropdown-toggle {
        background: #506690; }
        .topbar-nav.header nav#topbar ul.menu-categories li.menu.active > .dropdown-toggle svg.feather-chevron-down {
          color: #fff;
          stroke-width: 2px; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu > a {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 13px;
        color: #3b3f5c;
        padding: 14px 10px;
        font-weight: 600;
        transition: .600s;
        border-radius: 6px;
        letter-spacing: 0; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu a > div svg:not(.feather-chevron-down) {
        color: #888ea8;
        margin-right: 18px;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        stroke-width: 1px;
        fill: rgba(172, 176, 195, 0.2);
        transition: all .2s ease-in-out; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu a > div span {
        font-size: 13px;
        font-weight: 600;
        color: #888ea8;
        vertical-align: middle; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu > .dropdown-toggle svg.feather-chevron-down {
        color: #888ea8;
        width: 15px;
        height: 15px;
        align-self: center; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li {
        position: relative; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.active a {
    color: #25d5e4; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="false"] > div svg:not(.feather-chevron-down), .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="true"] > div svg:not(.feather-chevron-down) {
    color: #fff;
    stroke-width: 2px;
    fill: rgba(172, 176, 195, 0.35); }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu a[aria-expanded="true"] > div svg.feather.feather-chevron-down {
    color: #0e1726; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="false"] > div span, .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="true"] > div span {
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    position: relative;
    transition: all .2s ease-in-out; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a {
    position: relative;
    display: flex;
    padding: 12px 11px 12px 24px;
    margin-left: 40px;
    font-size: 13px;
    font-weight: 500;
    color: #fafafa; }
    .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a:before {
      content: '';
      background-color: #d3d3d3;
      position: absolute;
      height: 3px;
      width: 3px;
      top: 21px;
      left: 12px;
      border-radius: 50%; }
    .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a[aria-expanded="true"] {
      color: #555555; }
      .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a[aria-expanded="true"] svg {
        transform: rotate(90deg); }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list a {
    display: flex;
    justify-content: space-between; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list .sub-submenu a {
    padding: 12px 11px 12px 38px;
    font-size: 13px;
    font-weight: 500;
    color: #506690; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a svg {
    width: 14px;
    height: 13px;
    align-self: center; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li.sub-sub-submenu-list .sub-submenu li a:before {
    content: '';
    background-color: #0e1726;
    position: absolute;
    height: 1px;
    width: 4px;
    left: 25px; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li ul.sub-submenu li.sub-sub-submenu-list {
    position: relative; } }

@media (max-width: 1440px) and (min-width: 992px) {
  .topbar-nav.header nav#topbar ul.menu-categories li.menu:nth-child(1) .submenu .sub-sub-submenu-list:hover ul.sub-submenu, .topbar-nav.header nav#topbar ul.menu-categories li.menu:nth-child(2) .submenu .sub-sub-submenu-list:hover ul.sub-submenu {
    right: -200px; }
  .topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu .sub-sub-submenu-list:hover ul.sub-submenu {
    right: 200px; } }

@media (max-width: 1250px) and (min-width: 992px) {
  .topbar-nav.header nav#topbar ul.menu-categories li.menu:last-child .submenu {
    left: auto;
    right: 0; } }

@media (max-width: 575px) {
  .footer-wrapper .footer-section.f-section-2 {
    display: none; } }
